openapi: 3.0.0
info:
  title: meerkatgram
  version: '1.0.0'
#########################################################################
# components 정의
#########################################################################
components:
  schemas:
    NOT_REGISTERED_ERROR:
      $ref: '/swagger/schemas/errors/NotRegistered.yaml'
    UNAUTHORIZED_ERROR:
      $ref: '/swagger/schemas/errors/Unauthorized.yaml'
    FORBIDDEN_ERROR:
      $ref: '/swagger/schemas/errors/Forbidden.yaml'
    EXPIRED_TOKEN_ERROR:
      $ref: '/swagger/schemas/errors/ExpiredToken.yaml'
    INVALID_TOKEN_ERROR:
      $ref: '/swagger/schemas/errors/InvalidToken.yaml'
    CONFLICT_ERROR:
      $ref: '/swagger/schemas/errors/Conflict.yaml'
    UNMATCHING_USER_ERROR:
      $ref: '/swagger/schemas/errors/UnmatchingUser.yaml'
    REISSUE_ERROR:
      $ref: '/swagger/schemas/errors/Reissue.yaml'
    NOT_FOUND_ERROR:
      $ref: '/swagger/schemas/errors/NotFound.yaml'
    BAD_REQUEST_ERROR:
      $ref: '/swagger/schemas/errors/BadRequest.yaml'
    BAD_FILE_ERROR:
      $ref: '/swagger/schemas/errors/BadFile.yaml'
    DB_ERROR:
      $ref: '/swagger/schemas/errors/Db.yaml'
    SYSTEM_ERROR:
      $ref: '/swagger/schemas/errors/System.yaml'
#########################################################################
# 로그인
#########################################################################
paths:
  /api/auth/login:
    post:
      tags:
        - 인증
      summary: 로그인
      description: 회원의 로그인 처리후 JWT 및 회원정보 반환
      operationId: '1'
      requestBody:
        description: 회원 로그인 정보
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  description: 회원 아이디
                  type: string
                  example: admin@admin.com
                password:
                  description: 비밀번호
                  type: string
                  example: qwe123!@
      responses:
        '200':
          description: 로그인 성공
          headers:
            Set-Cookie:
              schema:
                description: 리프래시 토큰
                type: string
                example: eyJhbGciOiJzaGEyNTYiLCJ0eXAiOiJqd3QifQ.eyJpZHQiOjEsImlhdCI6MTcxNjI4MzU4OCwiZXhwIjoxNzE2MjgzNTk4LCJ0dGwiOjEwLCJhY2MiOiJhZG1pbiIsIm5hbWUiOiJcdWFkMDBcdWI5YWNcdWM3OTAifQ.b5cc09dc802022423854516199923c8e9e80749733f55199fce9a3deb0e4965d52pYrRS
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: 코드
                    type: string
                    example: '0'
                  msg:
                    description: 메세지
                    type: string
                    example: 인증 완료
                  data:
                    properties:
                      accessToken:
                        description: 엑세스 토큰
                        type: string
                        example: eyJhbGciOiJzaGEyNTYiLCJ0eXAiOiJqd3QifQ.eyJpZHQiOjEsImlhdCI6MTcxNjI4MzU4OCwiZXhwIjoxNzE2MjgzNTk4LCJ0dGwiOjEwLCJhY2MiOiJhZG1pbiIsIm5hbWUiOiJcdWFkMDBcdWI5YWNcdWM3OTAifQ.b5cc09dc802022423854516199923c8e9e80749733f55199fce9a3deb0e4965d52pYrRS
                      user:
                        description: 회원정보
                        type: object
                        properties:
                          id:
                            description: PK
                            type: integer
                            example: 1
                          email:
                            description: 이메일
                            type: string
                            example: admin@admin.com
                          nick:
                            description: 닉네임
                            type: string
                            example: Kanna_kamui
                          role:
                            description: 권한
                            type: string
                            example: NOMAL
                          profile:
                            description: 프로필 사진
                            type: string
                            example: http://localhost:3000/file/profile/we4h6se547h5dgb5yagb.png
                          created_at:
                            description: 가입일자
                            type: string
                            format: date-time
                            example: 2024-05-20 15:02:52
                          updated_at:
                            description: 수정일자
                            type: string
                            format: date-time
                            example: 2024-05-21 18:26:28
                          deleted_at:
                            description: 탈퇴일자
                            type: string
                            nullable: true
                            example: null
                          posts_count:
                            description: 작성글 수
                            type: integer
                            example: 50
        '400':
          description: 유효성 검사 에러
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BAD_REQUEST_ERROR'
        '401':
          description: 미가입 회원 또는 비밀번호 이상
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NOT_REGISTERED_ERROR'
        '500':
          description: DB 에러 및 시스템 에러
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/DB_ERROR'
                  - $ref: '#/components/schemas/SYSTEM_ERROR'
                discriminator:
                  propertyName: code
                  mapping:
                    'E80': '#/components/schemas/DB_ERROR'
                    'E90': '#/components/schemas/SYSTEM_ERROR'
#########################################################################
# 토큰 재발급
#########################################################################
  /api/auth/reissue:
    post:
      tags:
        - 인증
      summary: 토큰 재발급
      description: 리프래시 토큰으로 엑세스 토큰 재발급 처리
      operationId: '2'
      parameters:
        - name: refresh-token 
          in: cookie
          description: 리프래시 토큰 쿠키
          required: true
          schema:
            type: string
            example: eyJhbGciOiJzaGEyNTYiLCJ0eXAiOiJqd3QifQ.eyJpZHQiOjEsImlhdCI6MTcxNjI4MzU4OCwiZXhwIjoxNzE2MjgzNTk4LCJ0dGwiOjEwLCJhY2MiOiJhZG1pbiIsIm5hbWUiOiJcdWFkMDBcdWI5YWNcdWM3OTAifQ.b5cc09dc802022423854516199923c8e9e80749733f55199fce9a3deb0e4965d52pYrRS
      responses:
        '200':
          description: 토큰 재발급
          headers:
            Set-Cookie:
              schema:
                description: 리프래시 토큰
                type: string
                example: eyJhbGciOiJzaGEyNTYiLCJ0eXAiOiJqd3QifQ.eyJpZHQiOjEsImlhdCI6MTcxNjI4MzU4OCwiZXhwIjoxNzE2MjgzNTk4LCJ0dGwiOjEwLCJhY2MiOiJhZG1pbiIsIm5hbWUiOiJcdWFkMDBcdWI5YWNcdWM3OTAifQ.b5cc09dc802022423854516199923c8e9e80749733f55199fce9a3deb0e4965d52pYrRS
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: 코드
                    type: string
                    example: '0'
                  msg:
                    description: 메세지
                    type: string
                    example: 인증 완료
                  data:
                    properties:
                      accessToken:
                        description: 엑세스 토큰
                        type: string
                        example: eyJhbGciOiJzaGEyNTYiLCJ0eXAiOiJqd3QifQ.eyJpZHQiOjEsImlhdCI6MTcxNjI4MzU4OCwiZXhwIjoxNzE2MjgzNTk4LCJ0dGwiOjEwLCJhY2MiOiJhZG1pbiIsIm5hbWUiOiJcdWFkMDBcdWI5YWNcdWM3OTAifQ.b5cc09dc802022423854516199923c8e9e80749733f55199fce9a3deb0e4965d52pYrRS
                      user:
                        description: 회원정보
                        type: object
                        properties:
                          id:
                            description: PK
                            type: integer
                            example: 1
                          email:
                            description: 이메일
                            type: string
                            example: admin@admin.com
                          nick:
                            description: 닉네임
                            type: string
                            example: Kanna_kamui
                          role:
                            description: 권한
                            type: string
                            example: NOMAL
                          profile:
                            description: 프로필 사진
                            type: string
                            example: http://localhost:3000/file/profile/we4h6se547h5dgb5yagb.png
                          created_at:
                            description: 가입일자
                            type: string
                            format: date-time
                            example: 2024-05-20 15:02:52
                          updated_at:
                            description: 수정일자
                            type: string
                            format: date-time
                            example: 2024-05-21 18:26:28
                          deleted_at:
                            description: 탈퇴일자
                            type: string
                            nullable: true
                            example: null
                          posts_count:
                            description: 작성글 수
                            type: integer
                            example: 50
        '401':
          description: 재발급 에러
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/REISSUE_ERROR'
        '500':
          description: DB 에러 및 시스템 에러
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/DB_ERROR'
                  - $ref: '#/components/schemas/SYSTEM_ERROR'
                discriminator:
                  propertyName: code
                  mapping:
                    'E80': '#/components/schemas/DB_ERROR'
                    'E90': '#/components/schemas/SYSTEM_ERROR'